<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.1.0/dist/mini-default.min.css"/>
    <link rel="stylesheet" href="/style.css"/>
    <title>CRUD Demo</title>
</head>
<body>
<header th:fragment="header">
    <header class="sticky">
        <div style="display: inline; overflow: auto;">
            <h3>CRUD Demo Application</h3>
        </div>
    </header>
</header>

<footer th:fragment="footer">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
</footer>
</body>
</html>