<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/common :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/common :: header"></th:block> /*/-->
<div class="container" style="margin-top: 1.5em;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card fluid">
                <div class="section">
                    <h3>USER LIST</h3>
                    <!--<hr/>-->
                    <!--<p>To start using cards in your layout, you need to be somewhat familiar with the grid module,-->
                        <!--so if you aren't, take a minute to read how its basic layout works. The basic syntax for-->
                        <!--cards is composed of three components, presented below in the order they should be added-->
                        <!--to the DOM tree.-->
                    <!--</p>-->
                </div>
                <div class="section" th:if="${not #lists.isEmpty(users)}">
                    <!--<h3>Users list</h3>-->
                    <table class="fluid">
                        <thead>
                            <tr>
                                <th>User name</th>
                                <th>Email</th>
                                <th>Enabled</th>
                                <th>Registered</th>
                                <th>Role</th>
                                <!--<th>Edit</th>-->
                                <!--<th>Delete</th>-->
                            </tr>
                        </thead>
                        <tr class="data" th:each="user : ${users}" th:onclick="|window.open('${'/user/' + user.id}', '_self')|" > <!--th:onclick="|$.get('${'/user/' + user.id}')|"-->
                            <td data-label="User name" th:text="${user.name}">Name</td>
                            <td data-label="User email" th:text="${user.email}">Email</td>
                            <td data-label="Enabled" ><input type="checkbox" th:checked="user.enabled"/></td>
                            <td data-label="Registered" th:text="${#temporals.format(user.registered, 'yyyy-MM-dd HH:mm')}">Registered</td>
                            <td data-label="User role" th:text="${user.role}">Role</td>
<!--
                            <td data-label="Action"><a th:href="${'/user/' + user.id}">Edit</a></td>
                            <td data-label="Action"><a th:href="${'/delete/' + user.id}">Delete</a></td>
-->
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/common :: footer"></th:block> /*/-->
</body>
</html>